@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url('../img/zumbi4.jpg') ;
  /* transition: all 0.5s; */
  font-family: "Special Elite", cursive;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

body:before{
  content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.88);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
}

.startWrap{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.form {
  display: none;
  flex-direction: column;
  width: 90%;
  max-width: 330px;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
}


h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
}

select,
input {
  background-color: transparent;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.custom-select.error label{
  color: red;
}

.custom-select,
input {
  margin-bottom: 20px;
}

.custom-select label {
  margin-bottom: 5px;
}

.storyText {
  position: relative;
  z-index: 2;
  display: none;
  color: #fff;
  padding: 30px;
  width: 90%;
  max-width: 650px;
  margin: 40px auto;
  font-size: 20px;
}

button {
  display: block;
  margin: 15px 0;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  background: #585858;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.on{
  display: flex;
}